In [6]:
import pandas as pd

In [44]:
with open('words') as f:
    lines = f.readlines()

words = [list(a[0:5]) for a in lines]
N = len(words)

In [90]:
df_main = pd.DataFrame(words)

In [91]:
df_main.head(10)

   0  1  2  3  4
0  r  o  s  s  a
1  j  e  t  t  y
2  w  i  z  z  o
3  c  u  p  p  a
4  c  o  h  o  e
5  g  u  r  k  s
6  s  q  u  a  d
7  b  e  i  s  a
8  s  h  r  u  g
9  f  o  s  s  a

In [92]:
df_main[(df_main[0] == 'r') & (df_main[1] == 'o')]

       0  1  2  3  4
0      r  o  s  s  a
86     r  o  l  l  y
488    r  o  a  m  s
592    r  o  r  t  y
813    r  o  s  h  a
...   .. .. .. .. ..
14505  r  o  v  e  r
14559  r  o  h  u  s
14724  r  o  m  a  n
14746  r  o  u  k  s
14818  r  o  q  u  e

[171 rows x 5 columns]

In [110]:
df = df_main
fixed = [0 for i in range(5)]
fixed_val = [0 for i in range(5)]

for j in range(5):
    count = []
    count_of = []
    dist = dict()
    for i in range(5):
        c = df[i].value_counts()
        dist[i] = c
        count_of.append(c.index[0])
        count.append(c[0])
    order = sorted(count, reverse=True)
    for i in range(5):
        ind = count.index(order[i])
        if not fixed[ind]:
            break
    fixed[ind] = 1
    fixed_val[ind] = count_of[ind]
    df = df[df[ind] == count_of[ind]]
    print(count, count_of, fixed_val)

[1666, 2682, 1374, 2531, 4339] ['s', 'a', 'a', 'e', 's'] [0, 0, 0, 0, 's']
[416, 843, 435, 760, 4339] ['s', 'a', 'a', 'e', 's'] [0, 'a', 0, 0, 's']
[75, 843, 117, 168, 843] ['m', 'a', 'r', 'e', 's'] [0, 'a', 0, 'e', 's']
[14, 168, 15, 168, 168] ['r', 'a', 'l', 'e', 's'] [0, 'a', 'l', 'e', 's']
[1, 15, 15, 15, 15] ['d', 'a', 'l', 'e', 's'] ['d', 'a', 'l', 'e', 's']

In [107]:
fixed_val

['d', 'a', 'l', 'e', 's']

In [108]:
df

      0  1  2  3  4
1993  d  a  l  e  s

In [99]:
count, count_of

([1666, 2682, 1374, 2531, 4339], ['s', 'a', 'a', 'e', 's'])

In [100]:
c

s    4339
e    1739
y    1527
a     885
d     874
t     795
r     737
n     618
l     539
o     506
h     428
i     382
k     310
m     227
g     171
p     165
c     146
u      96
f      95
x      84
b      70
w      68
z      41
v       5
q       5
j       3
Name: 4, dtype: int64